.addTodo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.addInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #172b4d;
    padding: 10px;
    background: none;
}

.addInput:focus {
    outline: none;
}
